/* Global */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@font-face {
  font-family: "Arial Black";
  src: url("./assets/ArialBlack.ttf");
}

.App {
  font-family: "Anonymous Pro"
}

/* Loader */
.yin {
  font-family: "Arial Black";
  font-size: 36px;
  margin: 0px;
  -webkit-text-stroke: 1px black;
  color: white;
  line-height: 75%; 
  animation: change-line-space 3s ease-in-out;
}

.yang {
  color: black !important;
  line-height: 75%; 
  -webkit-text-stroke: 1px white;

}

.yin:hover, .yang:hover { filter: invert(100%) }



/* Head */
.head-text {
  -webkit-text-stroke: 1px black;
  color: white;
  font-size: 40px;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  animation-delay: 6s;
  animation: fadein 6s;
  animation-fill-mode: forwards;
}

.head-text:hover, .project-text:hover {
  color: black;
  -webkit-text-stroke: 1px black;
  font-size: 48px;
  transition: all 0.6s ease-in-out;
}

/* end header */

/* Navbar */
.nav-links {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
 filter: invert(100%) 
}

.projs {
  animation: drop5 3.2s;
  animation-fill-mode: forwards;
}

.res {
  animation: drop4 2.8s;
  animation-fill-mode: forwards;
}

.git {
  animation: drop3 2.2s;
  animation-fill-mode: forwards;
}

.insta {
  animation: drop2 1.6s;
  animation-fill-mode: forwards;
}

.ct {
  animation: drop 1s;
  animation-fill-mode: forwards;
}
/* end nav bar */

/* Bio */
.bio {
  opacity: 0;
  animation-delay: 6s;
  animation: fadein 6s;
  animation-fill-mode: forwards;
}

/* end bio */

/* Project  */
.project-container {
  background-color: white;
}

.project-text {
  -webkit-text-stroke: 1px black;
  color: white;
  font-size: 40px;
  transition: all 0.6s ease-in-out;
}

.projects-list {
  height: 90%;
}

.project-title {
  color: black;
}

.project { 
  width: 40%;
  height: 150px;
  margin: 15px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  font-size: 12px;
  overflow-y: scroll;
  transition: 1s ease-in-out;

}

.project a {
  -webkit-text-stroke: 1px black;
}


.project:hover {
  color: white !important;
  background-color: black;
}

.project:hover a {
  color: white;
  font-size: 1.75rem;
  transition: 0.5s ease-in-out;
}

/* end projects */

/* Animation */
@keyframes change-line-space {
  0% { line-height: 0% }
  50% { line-height: 0% }
  100% { line-height: 75% }
}

@keyframes fadein {
  10% { opacity: 0 }
  20% { opacity: 0 }
  30% { opacity: 0 }
  40% { opacity: 0 }
  50% { opacity: 0 }
  60% { opacity: 0 }
  70% { opacity: 0.5 }
  80% { opacity: 0.75 }
  90% { opacity: 1 }
  100% { opacity: 1}
}

@keyframes drop {
  from {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: 
      translate3d(0, 0px, 0)
      rotate(-10deg);

  }
}

@keyframes drop2 {
  from {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  20% {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: 
      translate3d(0, 0px, 0)
      rotate(-10deg);

  }
}

@keyframes drop3 {
  from {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  40% {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: 
      translate3d(0, 0px, 0)
      rotate(-10deg);

  }
}

@keyframes drop4 {
  from {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  60% {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: 
      translate3d(0, 0px, 0)
      rotate(-10deg);

  }
}

@keyframes drop5 {
  from {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  80% {
    transform: 
      translate3d(0, -1000px, 0)
      rotate(-10deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: 
      translate3d(0, 0px, 0)
      rotate(-10deg);

  }
}

/* end animation */

/* Media Queries */
@media only screen and (max-width: 600px) {
    .projects-list {
      height: 70vh;
    }

    .project {
        height: auto;
    }
}

/* end media queries */
